<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

# Introduction

This notebook provides an overview of key concepts in data science and demonstrates various techniques and tools used in the field.

---

## Objectives:

- **List popular languages for Data Science**
- Explain the process of data cleaning and preprocessing
- Demonstrate techniques for data visualization
- Introduce machine learning algorithms and their applications
- Showcase best practices for model evaluation and deployment

---

# Your code and analysis goes here...

Some of the popular languages that Data Scientists use are:

<ol> 
<li>Python.</li>
<li>R.</li>
<li>SQL.</li>
</ol>

Some of the popular languages that Data Scientists use are:

<ol> 
<li>TensorFlow.</li>
<li>NumPy.</li>
<li>SciPy.</li>
</ol>

Data Science Tools:

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>Anaconda</td>
  </tr>
</table>

In [2]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

 Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# Below are a few examples of evaluating arithmetic expressions in Python

## Evaluate the expression (3*4)+5
result = (3 * 4) + 5
result

17

This will convert 200 minutes to hours by dividing by 60

In [4]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

<h2>Author</h2>
Chitt